* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid gainsboro;
}

.part1_div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
}

.part1_div a {
    text-decoration: none;
    color: black;
    font-size: 90%;
    font-weight: 700;
}

.part1_div a button {
    text-decoration: none;
    color: black;
    font-size: 90%;
    font-weight: 700;
    background-color: orangered;
    color: white;
    border: none;
    padding: 2px;
    border-radius: 5px;
}

#med {
    width: 73%;
}

#signup {
    width: 20%;
    font-size: 100%;
}

#needhelp {
    width: 10%;
    font-size: 100%;
}

#part2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border-bottom: 1px solid gainsboro;
}

#part2_div1 {
    display: flex;
    width: 60%;
    align-items: center;
}


#part2_div1>:nth-child(1)>input {
    width: 200px;
    height: 30px;
}

#part2_div1>:nth-child(2)>input {
    width: 300px;
    height: 30px;
    margin-left: 2px;
}

#part2_div2 {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

#part2_div2 button {
    height: 30px;
    width: 100px;
    text-decoration: none;
    background-color: orangered;
    color: white;
    border: none;
    padding: 2px;
    border-radius: 5px;
    margin-left: 30px;
}

#part3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 5px;
}

.dropbtn {
    background-color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

#drop {
    display: flex;
    width: 550px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    background-color: white;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-size: 13px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    border-top: 1px solid gainsboro;
}

.fot1 {
    padding: 10px 30px;
    background-color: #fffcf8;
}

.fot1 h2 {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 540;
}

.fot1 h3 {
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 500;
}

.fot1 p {
    margin: 10px 0px;
    font-size: 18px;
    color: gray;
}

.fot_2 {
    padding: 10px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.fot_2>h1 {
    font-size: 33px;
    font-weight: 500;
    width: 710px;
    margin: auto;
    margin-bottom: 20px;

}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid gainsboro;
}

.stats>div {
    padding: 20px;
}

.stats>div>h1 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.stats>div>p {
    text-align: center;
    font-size: 18px;
}

.fot_2>form {
    width: 640px;
    margin: auto;
    margin-top: 20px;
}

.fot_2>form label {
    font-size: 20px;
    margin-right: 20px;
}

.fot_2>form input {
    width: 250px;
    height: 30px;
    margin-right: 20px;
}

.fot_2>form button {
    height: 30px;
    width: 100px;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: white;
}

.fot_3 {
    padding: 40px 30px;
    background-color: #fffcf8;
    border-bottom: 1px solid gainsboro;
}

.fot_3 table {
    width: 100%;
}

.fot_3 table th {
    text-align: left;
    padding: 5px 0px;
    font-size: 20px;
    font-weight: 550;
}

.fot_3 table td {
    padding: 3px 0px;
}

footer>p {
    padding: 10px 30px;
    text-align: center;
    background-color: #fffcf8;
}